* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5vw;
	font-family: "Microsoft Yahei";
}

html, body{
	width: 100%;
	height: 100%;
}

/* music css */
.music {
	position: fixed;
	top: 30px;
	right: 40px;
	z-index: 5;
	width: 75px;
	height: 75px;
	border: 4px solid red;
	border-radius: 50%;
}

.music > img:first-of-type {
	position: absolute;
	width: 80%;
	height: 80%;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

}

.music > img:last-of-type {
	position: absolute;
	width: 30%;
	right: 2.5%;
	width: 28%;
	top:24%;
}

/* page */
.page {
	height: 100%;
}

.page .bg{
	height: 100%;
	width: 100%; 
	position: absolute;

}

/* page1 */
#page1 > .bg {
	background: url('../images/p1_bg.jpg') no-repeat center center;
	background-size: 100%;
	z-index: -1;
}

#page1 > .p1_lantern {
	position: absolute;
	top: -3.4%;
	right: 0;
	left: 0;
	margin: auto;
	background: url('../images/p1_lantern.png') no-repeat center bottom;
	background-size: 100%;
	width: 45%;
	height: 75%;
	font-size: 60px;
	padding-top: 550px;
	text-align: center;
	box-sizing: border-box;
}

#page1 > .p1_lantern:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: -1;
	content: "";
	width: 441px;
	height: 441px;
	border-radius: 50%;
	background: #d60b3b;
	opacity: 0.8;
	box-shadow: 0 0 10px 10px #d60b3b;
}

/* page2 */
#page2 > .bg {
	background: url('../images/p2_bg.jpg') no-repeat center center;
	background-size: 100%;
	z-index: -1;
}
/* page3 */
#page3 > .bg {
	background: url('../images/p3_bg.jpg') no-repeat center center;
	background-size: 100%;
	z-index: -1;
}
